// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none;
}
main {
    background-color: #EDE7E7;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    .loginWrap {
        display: flex;
        height: 600px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 22px 0 rgb(0 0 0 / 16%);
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .form-gest {
            width: 80%;
          
        }
    }
    .labelForm {
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: capitalize;
        padding-left: 5px;
    }
    .form-input-text, 
    .form-select {
    height: 50px;
    width: 100%;
    padding-left: 5px;   
    }
    .form-submit-button {
        margin-top: 30px;
        height: 50px;
        width: 100%;
        background-color: #66d9d9;
        text-transform: uppercase;
        color: #fff;
    }
    .form-submit-button:hover {
        background-color: #7eebeb; 
    }
    
}

.colonnaNavSx{
    background-color: #fff;
    height: calc(100vh - 80px);   
}
.colonnaDestra{
    background-color: #fff;
    height: calc(100vh - 80px);  
}

.mainDash {
    background-color: #EDE7E7;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    aside {
        width: 200px;
        background-color: #3b3b3b;
        height: 100%;
        .asideBlocco {
            width: 100%;
            height: auto;
            cursor: pointer;
           .bloccoTitolo {
               width: 100%;
               height: auto;
               background-color: #3b3b3b;
               padding-left: 15px;
               padding-top: 10px;
               padding-bottom: 10px;
               span {
                   color: #fff;
                   font-size: 15px;
               }
               .title{
                   margin-left: 5px;
               }
               .arrow {
                   padding-left: 25px;
               }
           
           }
           .bloccoTitolo:hover {
               background-color: rgb(243, 62, 62);
           }
           .bloccoTitolo:active {
            background-color: rgb(243, 62, 62);
           }
           .bloccoMenu {
               background-color: #868585;
               ul {
                   list-style-type: none;
                   margin:0px;
                   padding: 0px;
                   .item {
                    padding-left: 15px ;
                    padding-top: 10px;
                    padding-bottom: 10px;  
                    cursor: pointer;
                    color: #fff;
                   }
                   .item:hover {
                       color: rgb(245, 123, 123);
                   }
                   .item:hover::before {
                    content: "-";
                    width: 1px;
                    height: auto;
                    margin-right: 15px;
                    background-color: rgb(245, 123, 123);
                   
                }
               }
               
              
           }
        
           
        }
        a {
            color: #fff;
        }
    }
    .dashCenter {
        height: 100%;
        width: 100%;
        .boxNomeEvento {
            padding-top:10px ;
            background-color: #fff;
            width: 100%;
            height: 100px;
            box-shadow: 0 0 22px 0 rgb(0 0 0 / 16%);
            color: rgb(245, 123, 123);
            .nomeCampionato {
                color: #000;
                text-transform: uppercase;
            }
        }
        .boxNomeOrganizzatore {
            padding-top:10px ;
            background-color: #fff;
            width: 100%;
            height: 100px;
            box-shadow: 0 0 22px 0 rgb(0 0 0 / 16%);
            color: rgb(245, 123, 123);
            .nomeOrganizzatore {
                color:#000;
            }

        }
        .boxFormInserimento {
            height: auto;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 0 22px 0 rgb(0 0 0 / 16%);
        }
        .contenitoreTable {
            height: 650px;
            overflow: auto;
            .tablePilotList{
                height: auto;
            }
        }
        .table td {
            vertical-align: middle;
        }
    }
    
}